

.img{
    border: solid 2px blue;
    box-shadow:10px 10px 10px 10px black;
    transition: trenform 1s;
}
.img:hover{
  transform : scale(1.1);
  
}
.nav_bar ul{
    
background-color: orange;
overflow: auto;
}
.nav_bar li{
    /* display: inline;
    margin: 1%; */
    list-style-type: none;
    float: left;
    padding: 20px;
}
.nav_bar li a{
    text-decoration: none;
    color:white;
}
.nav_bar li a:hover{
    color: rgb(255, 0, 225);
}
h1{
    background-color: rgb(0, 96, 128);
    padding: 10px;
}
.col{
  float: left;
  padding: auto;
}
.col img{
  width: 300px;
  height: 400px;
  border: 2px solid;
  border-radius: 20%;
  transition: transform 2s;
}
.col img:hover{
  /* transform: rotateY(180deg); */
  /* transform: rotateZ(180deg); */
  /* transform-origin: 100%; */
  transform: scale(1.1);
  /* width: 750px;
  height: 850px; */
}
.row{
  overflow: hidden;
  border: 2px;
}

.title{
  text-align: center;
  font-size: 2vw;
  background-color: rgb(0, 79, 128);
  color: white;
  padding: 10px;
  
}
.title a{
  text-decoration: none;
  color: white;
}
.pic img{
  width: 25%;
}
.h{
  text-align:center ;
  background-color: slateblue;
  color: white;
}
h2{
  background-color: blueviolet;
  color: aliceblue;
  padding: 20px;
}
.des{
  text-align: justify;
  font-size: 2em;
}
a button{
  background-color: rgb(47, 255, 252);
  padding: 1% 2%;
  margin: 10px auto;
  cursor: pointer;
  display: block;
  color: black;
  align-items: center;
  border-radius: 10%;

  

}

    